bootstrap/cache/services.php

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

.vscode
node_modules
.git
.dockerignore
.editorconfig
.gitattributes
.phpunit.result.cache
.styleci.yml
draft.txt
note.txt
package-lock.json
readme.md
phpspec.yml
README.md
script.sh
TODO
webpack.mix.js
webpack.config.js
.gitignore
.idea
.sass-cache
*.config.js
development.yml
docker-compose.yml
