/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.env.duck.local
.env.dusk.local
/tests/Browser/screenshots
note.txt
.vscodes
.vscode
.phpintel
.DS_Store
.phpintel
/.phpintel
.env.production
bootstrap